* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(243, 180, 87);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
}

/* button {
    flex-basis: calc(40% - 6px); 
    border-radius: 5px;
    border: rgb(0, 0, 0) 1px solid;
    width: 200px;
    height: 3em;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0, 0, 1, 0);
    text-transform: capitalize;
    margin: 1px;
} */

.btn-group .btn-primary input[type="radio"] {
    display: none; 
}

.btn-group .btn-primary label {
    pointer-events: none; 
}

.btn-group {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.btn-group .btn-primary, button {
    flex-basis: calc(40% - 60px); 
    margin: 10px;
    padding: 15px;
    flex-grow: 1;
    height: 150px;

    font-size: 30px;
    border-radius: 5px;
    border: rgb(0, 0, 0) 1px solid;
    background-color: #2a9ab9;
    color: white;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0, 0, 1, 0);
    text-transform: capitalize;
}

.btn-group .btn-primary:hover, button:hover{
    transform: scale(1.05);
    transition: 0.2s;
}


.btn-group .btn-info.showrange {
    flex-basis: 100%; 
    margin-top: 10px;
}

.menu {
    padding: 15px 10px;
    height: 100%;
    width: auto; 
}

#GLW {
    display: flex;
    color: white;
    font-weight: bolder;
    justify-content: space-between;
    font-size: 30px;
    padding: 20px 10px 5px 10px;
}

.showrange {
    display: none;
}

#GameOver{
    font-size: 200px;
    display: none;
}